* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  border-bottom: 8px solid #0b7285;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 96px;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

img {
  width: 100%;
  border-radius: 12px;
}

.btn:link,
.btn:visited {
  background-color: #0b7285;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  border-radius: 100px;
}

/* Header styles */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64px;
}

.header-text-box {
  align-self: center;
}

h1 {
  font-size: 46px;
  letter-spacing: -1px;
  line-height: 1.1;
  margin-bottom: 24px;
}

.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

.btn--big {
  font-size: 18px;
  padding: 16px 32px;
}

/* Features */
.features-icon {
  stroke: #0b7285;
  font-size: 32px;
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
}

.features-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.features-text {
  line-height: 1.7;
  font-size: 18px;
}

/* Testimonial */
.testimonial-section {
  background-color: #0b7285;
  color: #fff;
  padding: 24px;
  border-radius: 12px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  margin-bottom: 24px;
  font-size: 24px;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
  line-height: 1.7;
  font-size: 18px;
  color: #e3fafc;
}

.testimonial-author {
  color: #c5f6fa;
}

/* Chair */
.chair {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.chair img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.chair-box {
  padding: 32px;
}

.chair-box h3 {
  font-size: 20px;
  margin-bottom: 24px;
}

.chair-details {
  list-style: none;
  margin-bottom: 48px;
}

.chair-icon {
  width: 24px;
  height: 24px;
  stroke: #0b7285;
}

.chair-details li {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 16px;
}

.chair-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn--small {
  font-size: 14px;
  padding: 8px 12px;
}

footer {
  font-size: 14px;
  color: #495057;
  margin-bottom: 48px;
}

.link-footer {
  text-decoration: none;
  color: #495057;
}
